@property --percentage {
    initial-value: 0%;
    inherits: false;
    syntax: "<percentage>";
  }
  
  .bomb_timer {
    background: conic-gradient(#00000000 var(--percentage), #EE060F 0);
    border-radius: 50%;
    width: 80vmin;
    height: 80vmin;
    animation: timer 40s infinite linear;
  }
  
  @keyframes timer {
    to {
      --percentage: 100%;
    }
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    padding: 2rem;
  }
  